
#albumHero {
    background-color: rgb(155, 188, 233);
    box-shadow: 0 0 20px rgb(36, 36, 36);
}

.bg-lightblue {
    background-color: rgb(132, 185, 255);
}

.art-card img {
    height: 300px;
    width: 300px;
    padding-top:20px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.301);
}

/* album img, favorites and comments icons */
.art-card {
    display:flex;
    flex-direction: column;
    align-items: center;
    border:none;
}

.art-card svg {
    height: 25px;
    width: 25px;
}

.icon-bar {
    display: flex;
}

.icon-bar > button {
    padding: 10px;
}


/* album descriptors section */
#albumInfo {
    padding: 30px;
    
}

#albumTitle {
    font-size: 50px;
    padding-bottom: 5px;
    color: rgb(251, 255, 0);
    text-shadow: 2px 1px 10px rgb(133, 133, 133);
    border-bottom: 1px solid grey;
}


/* individual descriptors */
.artist-link {
    text-decoration: none;
}

#albumInfo > div {
    display: grid;
    grid-template-columns: 1fr 3fr;
    margin: 10px 0;
}

#albumInfo > div > span {
    vertical-align: middle;
    font-size: 1.2em;
    text-shadow: 0px 0px 3px rgba(160, 160, 160, 0.856);
    color: rgb(94, 94, 94);

}

#albumInfo > div > p {
    font-size: 1.2em;
    margin:0;
}

/* bottom of the descriptors article */
#albumInfo div:last-of-type {
    padding-bottom: 5px;
}

/* tracklist */
#trackList h3 {
    color: #ebebeb;
    margin-top: 10px;
}

#trackList div {
    display: grid;
    grid-template-columns: 0.2fr 4fr;
    border: 1px solid;
    color: #ebebeb;
    border-bottom: none;
}

