.search-bar {
    display: flex;
    text-align-last: center;
    align-items: center;
}

.search-bar > * {
    padding: 0;
    margin: 0;
}

.search-bar svg {
    height: 35px;
    width: 35px;
}

#dropdown-basic > svg {
    display: flex;
    margin: 0 auto;
    height: 40px;
    width: 40px;
}