html, body {
    background-color: #3b3b3b;
}

.border-bottom {
    border: none !important;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.657)
}

#logo {
    color: rgb(132, 185, 255);
}

#logo h3 {
    color: rgb(151, 151, 151);
}

.settingsHeader h4 {
    font-size: 25px;
    color: rgb(26, 24, 0);
    text-shadow: 0 0 10px rgba(0, 0, 0, 0.616);
}

.settingsHeader span {
    font-size: 15px;
    color: rgba(3, 3, 0, 0.801);
    text-shadow: 0 0 10px rgba(0, 0, 0, 0.616);
}

/* .settingsCard {
    background-color:
} */