:root {
    --space: 1.5em 0;
    --space: 2em 0;
}


/* import font from oft file */
@font-face { font-family: Bender; src: url('bender.otf'); } 

html, body {
    font-family: bender
}

.Site {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

.Site-content {
    flex: 1 0 auto;
    padding: var(--space) var(--space) 0;
    width: 100%;
}

.Site-content:after {
    content: '\00a0';
    display: block;
    margin-top: var(--space);
    height: 0;
    visibility: hidden;
}

.float-right-custom {
    position: absolute;
    right: 0;
}

.float-left-custom {
    position: absolute;
    left: 0;
}

.mr-3 {
    margin-right: 3em !important; 
}